* {
  transition: 0.1s;
}

.submenu {
  max-height: 500px;
  opacity: 1;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.page-wrapper-closed {
  top: -66px;
  transform: translateX(-300px);
  transition: all 0.5s linear;
  position: relative;
}

.link-wrap svg {
  font-size: 20px !important;
}
.link-wrap-active svg {
  font-size: 20px !important;
}

.page-wrapper {
  top: -66px;
  transition: all 0.5s linear;
  transform: translateX(-0px);
  height: 100% !important;
}

.submenu.collapsed {
  max-height: 0;
  opacity: 0;
  transition-delay: 0.25s; /* Delay for collapsing transition */
}

.submenu li a {
  display: block;
  padding: 5px 10px; /* Adjust padding as per your design */
  /* Additional styles if needed */
}

#sidebarnav .fa-angle-up,
#sidebarnav .fa-angle-down {
  transition: transform 0.3s ease;
}

#sidebarnav .fa-angle-up {
  transform: rotate(180deg);
}

.sub-text {
  color: #2a3547;
  display: flex;
  font-size: 14px;
  white-space: nowrap;
  align-items: center;
  line-height: 25px;
  position: relative;
  margin: 0 0 2px;
  padding: 10px;
  border-radius: 7px;
  gap: 6px;
  text-decoration: none;
  font-weight: 400;
}

.sidebar-item a {
  display: flex;
  align-items: center;
}

.link-wrap {
  display: flex;
  align-items: center;
  padding: 4px 10px;
  border: 10px;
  height: 40px;
  cursor: pointer;
  border-radius: 6px;
  gap: 10px;
  margin-bottom: 4px;
}

.link-wrap-active {
  display: flex;
  align-items: center;
  padding: 4px 10px;
  border: 10px;
  height: 40px;
  cursor: pointer;
  border-radius: 6px;
  gap: 10px;
  background-color: #0a7386 !important;
  color: white !important;
  margin-bottom: 4px;
}

.link-wrap-active span i {
  font-size: 12px !important;
}

.link-wrap ul li {
  margin-left: -29px;
}
.link-wrap-active ul li {
  margin-left: -29px;
}

.link-wrap:hover {
  background-color: #0a7ea4;
  color: white !important;
}

.sub-link-wrap {
  margin-left: 24px;
}

.link-wrap i {
  font-size: 13px;
  font-weight: 400;
}

.link-wrap ul li a:hover {
  color: white !important;
}
.link-wrap-active ul li a:hover {
  color: white !important;
}

.link-wrap ul li a span {
  color: #2a3547 !important;
  font-size: 13px !important;
  white-space: nowrap !important;
  line-height: 25px !important;
  font-weight: 400 !important;
}
.link-wrap ul li a span:hover {
  color: white !important;
  font-size: 13px !important;
  white-space: nowrap !important;
  line-height: 25px !important;
  font-weight: 400 !important;
}

.link-wrap-active ul li a span {
  font-size: 13px;
  white-space: nowrap;
  line-height: 25px;
  font-weight: 400;
}

.sub-link-wrap:hover ul li a span {
  color: white !important;
}
.link-wrap:hover ul li a span {
  color: white !important;
}

.link-wrap .arrow-animate {
  font-weight: bolder;
  font-size: 12px;
  margin-top: 2px;
  margin-left: 2px;
}

.link-wrap-active .arrow-animate {
  font-weight: bolder;
  font-size: 12px;
  margin-top: 2px;
  margin-left: 2px;
}

.sub-link-wrap {
  transition: all 0.3s linear;
}

.sub-wrap-close-styles {
  height: 0px;
  transition: all 0.5s linear;
}

.sub-link-wrap-close {
  transition: all 0.3s linear;
  display: none;
}

#non-animate {
  transition: all 0.5s ease-in-out;
}

#animate {
  transform: rotate(180deg);
}

.cheveron-icon {
  margin-left: 5px;
}
#smallScreenSidebar {
  display: none;
}
.smallSidebarYearDropDown {
  padding: 0px 13px;
}

@media screen and (max-width: 990px) {
  #bigScreenSideBar {
    display: none;
  }

  #SideComponentsFullWidth {
    margin-left: 0px !important;
    width: 100%;
  }
  #SideComponents {
    width: 100% !important;
    margin-left: 0px !important;
  }
  #smallScreenSidebar {
    display: block;
  }
}
