@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  height: 100%;
  font-family: "Poppins", sans-serif !important;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.h-22 {
  height: 22px;
}
.w-22 {
  width: 22px;
}
.mt-15 {
  margin-top: 15px;
}

.item-center {
  align-items: center;
}
.css-1rgmeur {
  font-family: "Poppins", sans-serif !important;
}
.css-9iedg7 {
  font-family: "Poppins", sans-serif !important;
}

.mt-65 {
  margin-top: 65px;
}

.justify-end {
  justify-content: end;
}

.mright-4 {
  margin-right: -45px !important;
}
.css-6od3lo-MuiChip-label {
  font-family: "Poppins", sans-serif !important;
}
.css-17gq4vl.MuiSelect-select {
  font-family: "Poppins", sans-serif !important;
}
.css-1x5jdmq {
  font-family: "Poppins", sans-serif !important;
}
.fxt-template-layout31 .fxt-form-content .form-control {
  font-size: 16px !important;
  font-family: "Poppins", sans-serif !important;
}
.css-e4w4as-MuiFormLabel-root-MuiInputLabel-root {
  font-family: "Poppins", sans-serif !important;
}
.css-o943dk-MuiFormLabel-root-MuiInputLabel-root {
  font-family: "Poppins", sans-serif !important;
}
.css-10botns-MuiInputBase-input-MuiFilledInput-input {
  font-family: "Poppins", sans-serif !important;
}
.css-yf8vq0-MuiSelect-nativeInput {
  font-family: "Poppins", sans-serif !important;
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  font-family: "Poppins", sans-serif !important;
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  font-family: "Poppins", sans-serif !important;
}
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  font-family: "Poppins", sans-serif !important;
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  font-family: "Poppins", sans-serif !important;
}

.css-qiwgdb.css-qiwgdb.css-qiwgdb {
  font-family: "Poppins", sans-serif !important;
}
.css-14x1nlk {
  font-family: "Poppins", sans-serif !important;
}
.css-1ald77x.Mui-focused {
  font-family: "Poppins", sans-serif !important;
}
.css-p0rm37 {
  font-family: "Poppins", sans-serif !important;
}
.css-1km1ehz {
  font-family: "Poppins", sans-serif !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  font-family: "Poppins", sans-serif !important;
}
.form-control {
  font-family: "Poppins", sans-serif !important;
  font-size: 15px !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled {
  font-family: "Poppins", sans-serif !important;
}
.css-1ujsas3 {
  font-family: "Poppins", sans-serif !important;
  font-size: 10px !important;
}
.css-1hw9j7s {
  background-color: #0a7386 !important;
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  font-size: 10px !important;
  font-family: "Poppins", sans-serif !important;
}
.css-sghohy-MuiButtonBase-root-MuiButton-root {
  font-size: 10px !important;
  font-family: "Poppins", sans-serif !important;
}

.css-1hw9j7s {
  font-size: 12px !important;
  font-family: "Poppins", sans-serif !important;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  font-family: "Poppins", sans-serif !important;
  font-size: 15px !important;
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root:focus {
  border: 1px solid black;
}

.h-120 {
  height: 120px !important;
}
.min-w-400 {
  min-width: 400px;
}
.min-w-500 {
  min-width: 500px;
}

.h-40 {
  height: 40px !important;
}
.h-50 {
  height: 50px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.min-h-100 {
  min-height: 100vh !important;
}
.min-height-100 {
  min-height: 100px !important;
}

.pb-70 {
  padding-bottom: 70px !important;
}

.w-10 {
  width: 10px !important;
}
.w-18 {
  width: 18px !important;
}
.w-32 {
  width: 32px;
}

.w-45 {
  width: 45px !important;
}

.width-50 {
  width: 50px !important;
}
.min-width-50 {
  min-width: 50px !important;
}
.w-60 {
  width: 60px !important;
}
.w-70 {
  width: 70px !important;
}
.w-80 {
  width: 80px !important;
}
.w-100 {
  width: 100px !important;
}
.min-h-80 {
  min-height: 80vh;
}
.min-h-120 {
  min-height: 120vh !important;
}

.pb-55 {
  padding-bottom: 55px !important;
}

.w-120 {
  width: 120px;
}
.w-130 {
  width: 130px !important;
}
.w-150 {
  width: 150px !important;
}
.h-150 {
  height: 150px !important;
}
.w-190 {
  width: 190px !important;
}
.w-180 {
  width: 180px !important;
}
.w-200 {
  width: 200px !important;
}
.w-220 {
  width: 220px !important;
}
.w-250 {
  width: 250px !important;
}
.w-300 {
  width: 300px !important;
}
.w-130 {
  width: 130px !important;
}

.w-350 {
  width: 350px !important;
}

.f-10 {
  font-size: 10px !important;
}
.f-12 {
  font-size: 12px !important;
}
.f-13 {
  font-size: 13px !important;
}
.f-14 {
  font-size: 14px !important;
}
.f-20 {
  font-size: 20px !important;
}
.f-80 {
  font-size: 80px;
}
.f-130 {
  font-size: 130px !important;
}

.p-0-6 {
  padding: 0px 6px !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.decoration-none {
  text-decoration: none !important;
}
.bg-orange {
  background-color: #ffbf00 !important;
}

.bg-lightYellow {
  background-color: #d9d900 !important;
}

.width-50 {
  width: 50px !important;
}
.min-h-400 {
  min-height: 200px !important;
}

.h-200 {
  height: 200px !important;
}

.risk-rating-btn {
  font-size: 11px !important;
  height: 15px !important;
  line-height: 0px !important;
  width: fit-content !important;
}

.top-nagative-40 {
  top: -40px !important;
}

.border-bottom-black {
  border-bottom: 1px solid black !important;
}

.place-end {
  place-content: end !important;
}

.h-400 {
  height: 400px !important;
}

.flex {
  display: flex !important;
}

.hidden {
  display: hidden;
}
.visibility-hidden {
  visibility: hidden;
}

.w-full {
  width: 100%;
}

.fitContent {
  height: fit-content;
}

.br-8 {
  border-radius: 8px !important;
}

.mt-13 {
  margin-top: 13px !important;
}

.ml-100 {
  margin-left: 100px !important;
}

.bg-yellow {
  background-color: #d9d900 !important;
}

.bold {
  font-weight: bold !important;
}

.relative {
  position: relative !important;
}

.text-center {
  align-items: center !important;
}

.t-12 {
  top: 12px !important;
}
.r-12 {
  right: 12px !important;
}

.absolute {
  position: absolute !important;
}

.mb-20 {
  margin: 20px !important;
}

.underline {
  text-decoration: underline !important;
}

.Toastify__toast-body > div:last-child {
  font-family: "Poppins", sans-serif !important;
}

.min-h-150 {
  min-height: 150px !important;
}

.disabled {
  cursor: not-allowed !important;
}

.heading {
  font-size: 18px;
  font-weight: bold;
  color: #0a7386;
}

.css-z01bqi {
  color: #0a7386 !important;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root {
  background-color: #0a7386 !important;
}

.form-control {
  font-size: 11px !important;
}

.sr-col {
  width: 46px !important;
}

input::placeholder {
  font-size: 11px;
}

textarea::placeholder {
  font-size: 11px;
}

.form-select {
  font-size: 11px !important;
}

.nav-link {
  padding: 10px !important;
  font-size: 12px !important;
}
.information-request-dialog-main-wrap {
  height: 90vh !important;
  overflow-y: auto !important;
}

.btn {
  font-size: 12px !important;
}

button {
  font-size: 12px !important;
}

h6 {
  font-size: 12px !important;
}

.label-text {
  font-size: 12px !important;
}

.sub-heading {
  font-size: 14px;
  font-weight: 500;
  color: #666;
}

.btn {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.sub-text {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.accordion-button {
  font-size: 14px !important;
  font-weight: 500 !important;
}

.sidebar-item {
  cursor: pointer;
}
.mat-mdc-form-field-subscript-wrapper {
  height: 0px !important;
}
#sidebarnav {
  padding-left: 0px;
}

.card-title {
  text-decoration: none;
}

.sidebar-nav ul .sidebar-item .submenu a:hover {
  background-color: #0a7ea4;
  color: #fff !important;
  border-radius: 7px;
}

.main-color {
  color: #0a7ea4;
}

:root {
  --bs-primary-rgb: #0a7386 !important;
  --bs-primary-bg-subtle: #0a738621 !important;
}

a {
  text-decoration: none !important;
  cursor: pointer !important;
}

/* Accordion general styles */
.accordion-item {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.accordion-header {
  margin: 0;
}

.accordion-button {
  background-color: #f7f7f7;
  color: #333;
  font-weight: bold;
  padding: 15px 20px;
  border: none;
  outline: none;
  text-align: left;
  position: relative;
  transition: background-color 0.3s ease;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: #007bff;
  background-color: #e7f1ff;
}

.accordion-button:hover {
  background-color: #e2e6ea;
}

.accordion-body {
  padding: 20px;
  line-height: 1.5;
  background-color: #f8f9fa;
}

.custom-file-input:lang(en)::after {
  content: "";
}

table th {
  font-size: 12px !important;
  font-weight: bold;
  text-align: start;
  background-color: #f4f4f4;
  padding: 8px;
}

table td {
  font-size: 11px !important;
}
.accordion-collapse {
  transition: height 0.3s ease;
}
label {
  font-size: 12px;
  font-weight: bold;
}

.word-limit-info {
  font-size: 11px;
  color: #666;
  font-weight: normal !important;
  margin-top: 5px;
}

.label {
  font-weight: bold;
}
.job-name-column {
  width: 300px !important;
  min-width: 300px;
  max-width: 300px;
}
.dynamic-cls {
  width: 100px !important;
  min-width: 100px;
  max-width: 100px;
}
.link-underline-muted {
  color: #007bff;
  transition: color 0.3s ease;
}

.link-underline-muted:hover {
  color: #0056b3;
  text-decoration: underline;
}

.form-control {
  border-radius: 4px;
  border: 1px solid #ced4da;
  transition: border-color 0.3s ease;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn {
  text-transform: capitalize !important;
}

.main-content {
  overflow-x: hidden;
}

li {
  cursor: pointer !important;
}

mat-form-field {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 5px;
}

mat-form-field .mat-input-element {
  border: none;
  background-color: transparent;
}

mat-form-field .mat-form-field-label {
  color: rgba(0, 0, 0, 0.6);
}

mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: rgba(100, 100, 255, 0.5);
}

.link-wrap span i {
  font-size: 20px !important;
}
.link-wrap-active span i {
  font-size: 20px !important;
}

.color-white {
  color: white !important;
}
.f-40 {
  font-size: 40px !important;
}
.min-w-80 {
  min-width: 80px !important;
}

span[aria-label="Insert Unordered List"] .jodit-toolbar-button__trigger {
  display: none !important;
}
span[aria-label="Insert Ordered List"] .jodit-toolbar-button__trigger {
  display: none !important;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #0a7386 !important;
}

.f-18 {
  font-size: 18px !important;
}

.cursor-pointer {
  cursor: pointer;
}

.flex {
  display: flex !important;
}

.reportsLastColumn {
  min-width: 100px;
  overflow-x: auto;
}

.css-18lrjg1-MuiCircularProgress-root {
  color: #0a7386 !important;
}

.flex-end {
  justify-content: flex-end !important;
}

.h-0 {
  height: 0px !important;
}

.error {
  color: rgb(238, 137, 137);
  font-size: 13px;
}

.border-none {
  border: none !important;
}

.recharts-wrapper {
  position: relative !important;
  left: -170px !important;
}

.w-full {
  width: 100% !important;
}

.cursor-auto {
  cursor: auto !important;
}

.jodit-container:not(.jodit_inline) .jodit-wysiwyg img {
  display: block !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  height: 2px !important;
}
.css-1x5jdmq {
  height: 2px !important;
}

.break-word {
  word-wrap: break-word;
}

#SideComponentsFullWidth > div:first-child {
  min-width: 500px;
  overflow-x: auto;
}

#SideComponents > div:first-child {
  min-width: 500px;
  overflow-x: auto;
}

#smallScreenSidebar {
  display: none !important;
}

.smallScreenSidebar {
  display: none !important;
}
.min-h-60 {
  min-height: 60vh;
}

.navbarWrapMain {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}
.h-35 {
  height: 35px;
}
.justify-center {
  justify-content: center;
}
.word-break {
  word-break: break-all;
}

.limited-text h5 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#SideComponents {
  width: 76%;
  height: 100%;
  margin-left: 20px;
  margin-top: 10px;
  transition: all 0.5s linear;
}

#SideComponentsFullWidth {
  width: 94%;
  height: 100%;
  margin-left: -250px;
  margin-top: 10px;
  transition: all 0.5s linear;
}

@media screen and (max-width: 1000px) {
  .fxt-shape {
    display: none;
  }
}
@media screen and (max-width: 820px) {
  .model-wrap {
    width: 95%;
  }
}

@media screen and (max-width: 990px) {
  #smallScreenSidebar {
    display: block !important;
  }
  #SideComponentsFullWidth {
    margin-left: 28px !important;
    padding: 0px !important;
    margin: 0px !important;
    width: 100% !important;
  }
  #SideComponents {
    margin-left: 28px !important;
    padding: 0px !important;
    margin: 0px !important;
    width: 100% !important;
  }
  .navbarWrapMain {
    padding: 12px !important;
  }
}
